# Logs
logs
*.log
uploadLog.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Build and coverage
lib-cov
coverage
*.lcov
.nyc_output

# Temporary upload/output folders
csvs/
uploads/
__tests__/fixtures/

# Grunt intermediate storage
.grunt

# Compiled binary addons
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Caching
.cache
.parcel-cache
.npm
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Environment files
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo

# VSCode
.vscode-test

# Output of `npm pack`
*.tgz

# Yarn & PnP
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Framework-specific
.next
out
.nuxt
dist
.vuepress/dist
.docusaurus
.temp
**/.vitepress/dist
**/.vitepress/cache

# Optional REPL history
.node_repl_history

# Ignore MacOS + system files
.DS_Store
Thumbs.db
